[Desktop Entry]
Version=2.0
Type=Application
Name=After Manjaro
Exec=python ./AfterManjaro.py
Icon=./icon.png
Comment=Your Manjaro distribution automatically loads packages for you
Type=Application
Terminal=true